/*Todos os direitos voltados para Alisson Hiosaki*/

/*configuracoes da webpage mobile*/
@media (max-width: 700px){
 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*estilo do titulo e background da webpage*/
.tittl,h1{
    margin: 0;
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
    font-family:sans-serif;
    font-size: 35px;
    backdrop-filter: blur(10px);
    border-end-end-radius:20px;
    border-end-start-radius: 20px;
    margin-left: 50px;
    margin-right: 50px;
    margin-block-end: 50px;
    border-right: 2px solid #adff2f;
    border-left: 2px solid #adff2f;
    border-block-end: 2px solid #adff2f;
    color: white;
    transition: 100ms;
}
/*animações btn*/
.btn:hover{
  transform: scale(1.0);
  background: greenyellow;
  color: black;
}

/*btn layout*/
.btn{
    font-size: 15px;
    background-color:  transparent;
    backdrop-filter: blur(20px);
    border: 2px solid greenyellow;
    border-radius: 20px;
    background-size: 5000px;
    align-items: center;
    display: inline-flex;
    justify-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    cursor: pointer;
    margin-left: 1dvh;
    margin-right: 1dvh;
    margin-top: 30px;
    min-height: 10vh;  
    width: 80px;
}

 /*texto layout*/
.text,a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: 550;
    font-size: auto;
    cursor: move;
    transition: 200ms;
   
}

/*wallpaper mobile*/
body{
  background: url(./mobile2.png);
  min-height: 100%;  
  width: 100%;
  background-position: center center ;
  background-size: 900px;
}

/*configurações do relogio flutuante*/
.body,h5{
    font-family: sans-serif;
    font-size: 40px;
    justify-content:center;
    justify-items: center;
    align-items: center;
    display: flex;
    color: #fff;
    border-left: 2px solid #adff2f;
    border-right: 2px solid #adff2f;
    margin-left: 50px;
    margin-right: 50px;
    border-top: 2px solid #adff2f;
    border-start-start-radius: 20px;
    border-start-end-radius: 20px;
   }
 

  .relogio div {
    height: 110px;
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    background: rgba(5, 5, 5, .9);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, .7);
    border-radius: 7px;
    letter-spacing: 3px;
  }
  

  .relogio span {
    font-weight: bolder;
    font-size: 50px;
    margin: 2px;
 }
 
 .relogio span.tempo {
    font-size: 10px;
    margin: 1px;
 }
    
}