*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.login-logo,h2{
  color: black;
  margin: 5;
  width: 2725px;
  height: 100px;
  align-items: center;
  display:flex;
  justify-content: center;
  text-align: center;
  border-radius: underline;
  padding: 10px;
  border: 0px solid rgb(68, 255, 0);
  opacity: .7;
  background-color: rgb(180, 183, 177);
  font-family:sans-serif;
  font-size: 40px;
}

.logoima{
  font-size: 500px;
}


.header,h2{
  justify-content: center;
  display: flex;
  align-items: center;
  font-size: 50px;
  color: black;
  
  
}
.btn,button{
  background-color: rgb(238, 242, 232);
  border: 2px solid rgb(0, 0, 0);
  padding: 50px;
  border-radius: 30px;
  opacity: .6;
  margin: 30px;
  display: inline-flex;
  align-items: center;
  
}
.btn,a{
  color: black;
  text-decoration: none;
  align-items: center;
  display: flex;
  justify-content: center;
  font-size: 52px;
  font-family:sans-serif;
  align-content: center;
  animation-duration: 10s;
  width: 210px;
  height: 70px;
  
}

.header{
  width: 100%;
  height: 100vh;
  background-color: rgb(126, 254, 28);
}

.header,body{
  background: url(https://ead.htn.com.br/pluginfile.php/1/theme_boost/loginbackgroundimage/1725621566/HTN%20-%20COMERCIAL%2030s%2016x9%20%28COLOR%20%2B%20SFX%20FINAL%29%201%20SMALL.gif);
background-size: 2795px;


}
