*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive;
    
}
body{
    background-size: url();
}

.img{
    justify-content: center;
    justify-items: center;
    align-items: center;
    display: flex;
}
.h1{
    justify-content: center;
    justify-items: center;
    align-items: center;
    display: flex;
    font-size: 20px;
}
h2{
    justify-content: center;
    justify-items: center;
    align-items: center;
    display: flex;
    font-size: 70px;
}
.btn,a{
    text-decoration: none;
    color: black;
    justify-content: center;
    justify-items: center;
    align-items: center;
    display: flex;
    font-size: 30px;
}
.btn{
    border-radius: 20px;
    padding: 10px;

}
